Button {
  padding: 20px;
}

.message {
  color: red;
  font-size: 20px;
}
.nav-link {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 15px;

  padding: 10px 20px;
}
.register-box {
  background-image: url("../public/images/background.jpg");
  background-size: cover;

  background-color: rgb(224, 222, 216);
  display: inline-block;
  margin-top: 10%;
}
.user-profile {
  color: grren;
}
